<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<link rel="stylesheet" href="css/styles.css">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>


<div id="hidden_form_container" style="display:none;"></div>

        
<div class="wrapper">
    <div class="sidebar">
        <h2><%=username%></h2>
        <ul>
            <% if(groups.length > 0) { %>

            
            <% groups.forEach((group) => {%>
                <li><%= group %>
                <form action="/test" method="POST">
                    <input type="submit" name="group_id[]" value="<%= group %>" />
                </form>
                </li>
                            <!-- <li onclick='myFunction()'><%= group %></li>
                
                <script>
                    var group_id = <%= group %>
                    function myFunction() {
                      form = document.createElement('form')
                      //grab group id
                    
                      var route = "/chat" + group_id
                      console.log(group_id)
                    //   form.action = route
                    //   form.method='GET'
                    // //   newInput1 = document.createElement('input');
                    // //   newInput1.type = 'hidden';
                    // //   newInput1.name = 'input_1';
                    // //   form.appendChild(newInput1)
                      document.getElementById('hidden_form_container').appendChild(form);
                      form.submit();
                    }
                </script> -->
            <% }) %>
            <% } else { %>
                <p class='empty-group'>No Groups</p>
                
            <% } %>

           
        </ul> 

    </div>
    <div class="main_content">
        <div class="header">
            <form action="/join-group" method="POST">
              <label for="groupname">Join Group:</label>
              <input type="text" id="groupname" name="groupname" required>
              <button>Submit</button>
            </form>
          </div> 
          <div class="header">
            <form action="/create-group" method="POST">
              <label for="groupname">Create Group:</label>
              <input type="text" id="groupname" name="groupname" required>
              <button>Submit</button>
            </form>
          </div> 
 
        <div class="info">

          <ul id="messages">

          </ul>
          
          
         
          <!-- <form action="/chat" method="POST" id="chat-form"> -->
            <form id="chat-form">

            <input type="text" id="message" placeholder="Enter message" autocomplete="off" name="message" required>
            <button>Submit</button>
          </form>
        </div>
    </div>
</div>

</body>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.0.3/pusher.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script  src="/js/chat.js"></script>
</html>